
@{
    ViewBag.Title = "BusinessInfo";
}

<div class="container-fluid">

    <h1>Business Info</h1>

    <div class="row">

        <div class="col-sm-4">

            <label for="CompanyName">Company Name</label>

            <input id="CompanyName" type="text" class="form-control" />

        </div>

    </div>

    <br />

    <div class="row">

        <div class="col-sm-4">

            <label for="JobTitle">Job Title</label>

            <input id="JobTitle" type="text" class="form-control" />

        </div>

    </div>

    <br />

    <div class="row">

        <div class="col-sm-4">

            <label for="Location">Location</label>

            <input id="Location" type="text" class="form-control" />

        </div>

    </div>

    <br />

    <div class="row">

        <div class="col-sm-4">

            <label for="TourOfDuty">Tour of Duty</label>

            <select id="TourOfDuty" class="form-control">

                <option>-choose an option-</option>

                <option>Once a week</option>

                <option>Twice a week</option>

                <option>Three times a week</option>

                <option>Four times a week</option>

                <option>Full time</option>

            </select>

        </div>

    </div>

    <br />

    <div class="row">

        <div class="col-sm-8">

            <label for="JobsRequirements">Job's Requirements</label>

            <textarea id="JobsRequirements" rows="5" class="form-control"></textarea>

        </div>

    </div>

    <br />


    <div class="col-sm-4">

        <button type="button" id="btnSubmit" class="btn btn-default btn-lg">

            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>

            Submit

        </button>

    </div>

</div>

<script>

 $("#btnSubmit").click(function () {

        $.ajax({
            method: "POST",
            url: "/Employer/Submit",
            data: {
                CompanyName: $("#CompanyName").val(),
                JobTitle: $("#JobTitle").val(),
                Location: $("#Location").val(),
                TourOfDuty: $("#TourOfDuty").val(),
                JobsRequirements: $("#JobsRequirements").val()
            }

        })

    });
</script>